In [2]:
import pandas as pd

In [14]:
mutation_counts = pd.read_csv("../data/muto_intl/mutation_matrix_all.csv", index_col=0)
mutation_counts

,10_AAAAC_-1,10_AAAAC_-2,10_AAAAC_-3,10_AAAAC_-4,10_AAAAG_-1,10_AAAAG_-2,10_AAAAG_-3,10_AAAAG_-4,10_AAAAT_-1,10_AAAAT_-2,...,9_AT_-3,9_AT_-4,9_AT_-5,9_AT_-8,9_CCG_-1,9_CCG_-2,9_CCG_-3,9_CCG_-4,9_CG_-1,9_CG_-2
donor_id,,,,,,,,,,,,,,,,,,,,,
250000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,0
250001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
250002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
250003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
250004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253877,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,7,0,0,0,1,0
253878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,1,0
253879,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
253880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,0
253881,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0

In [9]:
# Step 1: Create a mapping from old column names to new simplified mutation types
def extract_mutation_type(col_name):
    parts = col_name.split("_")
    repeat_unit = parts[1]
    change = parts[2]
    unit_len = len(repeat_unit)
    return f"{unit_len}_{change}"

# Apply the function to all columns
new_col_names = mutation_counts.columns.to_series().apply(extract_mutation_type)

# Step 2: Assign new column names and group
mutation_counts.columns = new_col_names

# Step 3: Group by mutation type and sum across columns
grouped_mutation_matrix = mutation_counts.groupby(level=0, axis=1).sum()

In [10]:
# Preview result
grouped_mutation_matrix[["1_-1"]]

           1_-1
donor_id
250000    14205
250001    17552
250002    15963
250003    15402
250004    17020
...         ...
253877    19148
253878    20301
253879    20876
253880    20009
253881    18977

[1438 rows x 1 columns]

In [11]:
grouped_mutation_matrix.to_csv("../data/muto_intl/mutation_matrix_ru_length_change.csv")

In [19]:
mutation_counts = pd.read_csv("../data/muto_intl/mutation_matrix_all.csv", index_col=0)
mutation_counts

,10_AAAAC_-1,10_AAAAC_-2,10_AAAAC_-3,10_AAAAC_-4,10_AAAAG_-1,10_AAAAG_-2,10_AAAAG_-3,10_AAAAG_-4,10_AAAAT_-1,10_AAAAT_-2,...,9_AT_-3,9_AT_-4,9_AT_-5,9_AT_-8,9_CCG_-1,9_CCG_-2,9_CCG_-3,9_CCG_-4,9_CG_-1,9_CG_-2
donor_id,,,,,,,,,,,,,,,,,,,,,
250000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,0
250001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
250002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
250003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
250004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253877,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,7,0,0,0,1,0
253878,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,1,0
253879,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
253880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,0,0,0
253881,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0

In [20]:
# Function to extract 'unit' and 'change', ignoring the reference count
def extract_unit_change(col_name):
    parts = col_name.split("_")
    unit = parts[1]
    change = parts[2]
    return f"{unit}_{change}"

# Apply this transformation
unit_change_cols = mutation_counts.columns.to_series().apply(extract_unit_change)

# Rename and group
mutation_counts.columns = unit_change_cols
grouped_by_unit_change = mutation_counts.groupby(level=0, axis=1).sum()

# Show result
grouped_by_unit_change.to_csv("../data/muto_intl/mutation_matrix_ru_change.csv")
grouped_by_unit_change.head()

,AAAAAAAAAAAAC_-1,AAAAAAAAAAAAC_-2,AAAAAAAAAAT_-1,AAAAAAAAACTACTGAAAT_-1,AAAAAAAAAC_-1,AAAAAAAAC_-1,AAAAAAAATTG_-1,AAAAAAACT_-1,AAAAAAAC_-1,AAAAAAAGG_-1,...,C_-15,C_-18,C_-2,C_-3,C_-4,C_-5,C_-6,C_-7,C_-8,C_-9
donor_id,,,,,,,,,,,,,,,,,,,,,
250000,0,0,0,1,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
250001,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,0
250002,0,0,0,0,0,0,0,0,0,0,...,0,0,5,0,1,0,0,0,0,0
250003,0,0,0,0,0,0,0,0,0,0,...,0,0,4,1,0,0,0,0,0,0
250004,0,0,0,0,0,0,0,0,0,0,...,0,0,6,1,0,0,0,0,0,0

In [21]:
mutation_counts = pd.read_csv("../data/muto_intl/mutation_matrix_all.csv", index_col=0)
mutation_counts
# Function to extract reference count and change only
def extract_ref_change(col_name):
    parts = col_name.split("_")
    ref_count = parts[0]
    change = parts[2]
    return f"{ref_count}_{change}"

# Apply to column names
ref_change_cols = mutation_counts.columns.to_series().apply(extract_ref_change)

# Rename and group
mutation_counts.columns = ref_change_cols
grouped_by_ref_change = mutation_counts.groupby(level=0, axis=1).sum()

# Show result
grouped_by_ref_change.to_csv("../data/muto_intl/mutation_matrix_ref_change.csv")
grouped_by_ref_change.head()

,10_-1,10_-2,10_-3,10_-4,10_-5,10_-6,10_-7,10_-8,10_-9,11_-1,...,8_-5,8_-6,8_-7,9_-1,9_-2,9_-3,9_-4,9_-5,9_-6,9_-8
donor_id,,,,,,,,,,,,,,,,,,,,,
250000,1557,7,0,1,0,0,0,0,0,2974,...,0,0,0,222,7,1,0,0,0,0
250001,1354,12,0,1,0,0,0,0,0,2997,...,0,0,0,284,1,0,0,0,0,0
250002,1651,11,3,0,0,0,0,0,0,3086,...,0,0,0,281,2,0,0,0,0,0
250003,1408,9,1,0,0,1,0,0,0,2867,...,0,0,0,221,6,0,0,0,0,0
250004,1447,12,1,0,0,0,0,0,0,3042,...,0,0,0,248,6,1,0,0,0,0

In [6]:
mutation_counts = pd.read_csv("../data/muto_intl/mutation_matrix_all.csv", index_col=0)
mutation_counts

# Function to classify unit as AC-rich or not
def is_ac_rich(unit):
    return all(base in {'A', 'T'} for base in unit)

# Function to create the new mutation type
def extract_ac_class(col_name):
    parts = col_name.split("_")
    unit = parts[1]
    change = parts[2]
    unit_len = len(unit)
    ac_label = "ATrich" if is_ac_rich(unit) else "nonAT"
    return f"{unit_len}-{ac_label}_{change}"

# Apply to column names
ac_class_cols = mutation_counts.columns.to_series().apply(extract_ac_class)

# Rename and group
mutation_counts.columns = ac_class_cols
grouped_by_ac_class = mutation_counts.groupby(level=0, axis=1).sum()

# Show result

grouped_by_ac_class.to_csv("../data/muto_intl/mutation_matrix_at_rich_change.csv")
grouped_by_ac_class.head()

,1-ATrich_-1,1-ATrich_-10,1-ATrich_-11,1-ATrich_-12,1-ATrich_-13,1-ATrich_-14,1-ATrich_-15,1-ATrich_-16,1-ATrich_-17,1-ATrich_-18,...,7-nonAT_-6,8-ATrich_-1,8-nonAT_-1,8-nonAT_-2,8-nonAT_-3,8-nonAT_-4,8-nonAT_-5,9-ATrich_-1,9-nonAT_-1,9-nonAT_-2
donor_id,,,,,,,,,,,,,,,,,,,,,
250000,14152,1,2,1,2,2,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
250001,17486,2,2,1,0,1,1,0,1,1,...,0,0,2,0,0,0,0,0,0,0
250002,15880,0,1,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
250003,15330,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
250004,16964,2,1,4,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Load the mutation matrix
mutation_counts = pd.read_csv("../data/muto_intl/mutation_matrix_all.csv", index_col=0)

# Function to extract RU length
def get_ru_length(col_name):
    unit = col_name.split("_")[1]
    return len(unit)

# Filter out columns with RU length == 1
filtered_columns = [col for col in mutation_counts.columns if get_ru_length(col) > 1]
filtered_mutation_counts = mutation_counts[filtered_columns]
filtered_mutation_counts = filtered_mutation_counts.loc[:, (filtered_mutation_counts != 0).sum(axis=0) > 10]

# Save the filtered matrix
filtered_mutation_counts.to_csv("../data/muto_intl/mutation_matrix_no_ru1.csv")
filtered_mutation_counts.head()

,10_AAAAC_-1,10_AAAAG_-1,10_AAAAT_-1,10_AAAC_-1,10_AAAG_-1,10_AAAG_-2,10_AAAG_-3,10_AAAT_-1,10_AAAT_-2,10_AAAT_-3,...,9_AG_-2,9_AG_-3,9_AG_-4,9_ATCC_-1,9_ATC_-1,9_AT_-1,9_AT_-2,9_AT_-3,9_CCG_-1,9_CG_-1
donor_id,,,,,,,,,,,,,,,,,,,,,
250000,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,2,36,0,0,3,0
250001,0,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,51,0,0,1,0
250002,0,0,0,0,0,0,0,6,1,0,...,1,0,0,0,2,44,0,0,2,0
250003,0,0,0,0,0,0,0,1,0,0,...,2,0,0,0,0,35,2,0,1,0
250004,0,0,0,0,0,0,0,5,0,0,...,1,1,0,0,3,46,1,0,0,0

In [8]:
# Load the mutation matrix
mutation_counts = pd.read_csv("../data/muto_intl/mutation_matrix_all.csv", index_col=0)

# Function to extract RU length
def get_change_length(col_name):
    unit = col_name.split("_")[2]
    return int(unit)

# Filter out columns with change == 1
filtered_columns = [col for col in mutation_counts.columns if abs(get_change_length(col)) > 1]
filtered_mutation_counts = mutation_counts[filtered_columns]
filtered_mutation_counts = filtered_mutation_counts.loc[:, (filtered_mutation_counts != 0).sum(axis=0) > 10]

# Save the filtered matrix
filtered_mutation_counts.to_csv("../data/muto_intl/filtered_matricies/filtered_mutation_matrix_no_change_1.csv")
filtered_mutation_counts.head()

,10_AAAG_-2,10_AAAG_-3,10_AAAT_-2,10_AAAT_-3,10_AAAT_-4,10_AAC_-2,10_AAC_-5,10_AAGG_-2,10_AAG_-2,10_AAG_-3,...,9_AAT_-3,9_AAT_-4,9_AC_-2,9_AC_-3,9_AGC_-2,9_AG_-2,9_AG_-3,9_AG_-4,9_AT_-2,9_AT_-3
donor_id,,,,,,,,,,,,,,,,,,,,,
250000,0,0,0,0,0,0,0,0,0,0,...,0,0,4,0,0,2,0,0,0,0
250001,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
250002,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
250003,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,2,0,0,2,0
250004,0,0,0,0,0,0,0,0,0,0,...,0,0,3,0,0,1,1,0,1,0

In [ ]:
# Load the mutation matrix
mutation_counts = pd.read_csv("../data/muto_intl/mutation_matrix_all.csv", index_col=0)

# Function to extract RU length
def get_change_length(col_name):
    unit = col_name.split("_")[1]
    return len(unit)

# Filter out columns with RU length == 1
filtered_columns = [col for col in mutation_counts.columns if get_ru_length(col) > 6]
filtered_mutation_counts = mutation_counts[filtered_columns]
filtered_mutation_counts = filtered_mutation_counts.loc[:, (filtered_mutation_counts != 0).sum(axis=0) > 10]

# Save the filtered matrix
filtered_mutation_counts.to_csv("../data/muto_intl/filtered_matricies/filtered_mutation_matrix_long_reads.csv")
filtered_mutation_counts.head()

In [7]:
from glob import glob
import os
str_matrix_dir = "../data/muto_intl/matricies/"
output_root = "../data/muto_intl/filtered_matricies/"
total_sums = {}

# Loop through each STR matrix file
for matrix_file in glob(f"{str_matrix_dir}/*.csv"):
    matrix_name = os.path.basename(matrix_file).replace(".csv", "")
    
    # Load STR matrix
    X_all = pd.read_csv(matrix_file, index_col=0)
    
    # Calculate total sum of all values
    total_sum = X_all.sum().sum()
    total_sums[matrix_name] = total_sum

    # Filter and save matrix
    filtered_matrix = X_all.loc[:, (X_all != 0).sum(axis=0) > 10]
    filtered_matrix.to_csv(f"{output_root}/filtered_{matrix_name}.csv")

# Print total sums
print("Total sum of all values per matrix:")
for name, value in total_sums.items():
    print(f"{name}: {value}")

# Check if all sums are equal
unique_sums = set(round(v, 6) for v in total_sums.values())
if len(unique_sums) == 1:
    print("\n✅ All original matrices have the same total sum of values.")
else:
    print("\n❌ Matrices differ in their total sum of values.")

Total sum of all values per matrix:
mutation_matrix_ref_change: 32872114
mutation_matrix_at_rich_change: 32872114
mutation_matrix_ru_length_change: 32872114
mutation_matrix_ru_change: 32872114
mutation_matrix_all: 32872114

✅ All original matrices have the same total sum of values.